[submodule "data"]
	path = data
	url = https://github.com/feliwir/AnvilData.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "spark"]
	path = spark
	url = https://github.com/Byte-Forge/spark.git
