@media(max-width:1280px) {body {font-size:15px;}}
@media(min-width:1280px) {body {font-size:18px;}}
@media(min-width:1600px) {body {font-size:24px;}}
@media(min-width:1920px) {body {font-size:27px;}}
@media(min-width:3200px) {body {font-size:48px;}}

html, body { margin: 0;	padding: 0; }
body { margin: 5px; background: #f2f2f2 url(bg.png) no-repeat top center; }
    
#buttonBar {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0.5em;
}
#buttonBar .box,
#buttonBar .expandable {
	display:inline-block;
	text-align:center;
}
#buttonBar .expandable .hidden {
	display:none;
}
#buttonBar .expandable:hover .hidden {
	display:block;
}
#buttonBar .button {
	display:block;
}
#buttonBar .expandable .hidden {
	margin-bottom:.2em;
}
	

.button {
	cursor: pointer;
	color: #8fde62;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	border: 1px solid #8fde62;
	background: #1f2024;
	padding: 1em;
	width: 5em;
}

table {
	width:100%;
}

table, th, td {
	color: #8fde62;
    border: 1px solid black;
	text-align:center;
	background: #1f2024;
 } 
 
th {
	background: #1f2020;
}

 select {
    border: 0;
    width: 100%;
	-webkit-appearance: none;

}