@media(max-width:1280px) {body {font-size:15px;}}
@media(min-width:1280px) {body {font-size:18px;}}
@media(min-width:1600px) {body {font-size:24px;}}
@media(min-width:1920px) {body {font-size:27px;}}
@media(min-width:3200px) {body {font-size:48px;}}

html, body { margin: 0;	padding: 0; }
body { margin: 5px;}


.screen {
	display:none;
}
.screen.active {
	display:block;
}

.buttonBar {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0.5em;
}
.buttonBar .box,
.buttonBar .expandable {
	display:inline-block;
	text-align:center;
}
.buttonBar .expandable .hidden {
	display:none;
}
.buttonBar .expandable:hover .hidden {
	display:block;
}
.buttonBar .button {
	display:block;
}
.buttonBar .expandable .hidden {
	margin-bottom:.2em;
}
	
.tabs {
	position:relative;
	min-height: 100px;
	clear: both;
	margin: 25px 10px;
	height: 35%; 
}

.tab {
	float: left;
}

.tab label {
	cursor: pointer;
	background: #1f2024;
	padding: 1px;
	color: #8fde62;
	border: 1px solid #8fde62;
	margin-left: -1px;
	position: relative;
	left: 1px;
}

.tab [type = radio] {
	display: none;
}

[type = radio]:checked + label {
	background: #1f2024;  
	border-bottom: 1px solid #1f2024;
	z-index: 2;
}

[type = radio]:checked + label + .content {
	z-index: 1;
}

.content {
	position: absolute;
	top: calc(1em + 3px);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	border: 1px solid #8fde62;
	background: #1f2024;
	overflow: auto;
	color: #8fde62;
}

.button {
	cursor: pointer;
	color: #8fde62;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	border: 1px solid #8fde62;
	background: #1f2024;
	padding: 1em;
	width: 5em;
}

.tool_button {
	cursor: pointer;
	color: #8fde62;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	border: 1px solid #8fde62;
	background: #1f2024;
	width: 1.1em;
	height: 1.1em;

}

.round_button {
	font-size:15px;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	text-align: center;
	color: #8fde62;
	border: 1px solid #8fde62;
	background: #1f2024;
	padding: 0.1em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
}

table {
	width:100%;
	cursor:pointer;
}

table, th, td {
	color: #8fde62;
    border: 1px solid black;
	text-align:center;
	background: #1f2024;
	font-size:inherit;
 } 
 
th {
	background: #1f2020;
}

select {
	cursor: pointer;
    border: 0;
    width: 100%;
}