@import url("style.css");

.tools {
	position:absolute;
	top:0;
	left:0;
	display:flex;
	height: 2.5%;
	align-items: flex-end;
}

.tools .box {
	display: inline-block;
}

.tools .tool_button {
	display: block;
}

#select {
	background-image: url(select.png);
}

#height_brush {
	background-image: url(height_brush.png);
}

#mound {
	background-image: url(mound.png);
}

#dig {
	background-image: url(dig.png);
}

#smooth_height {
	background-image: url(smooth_height.png);
}